<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='main/client/src/template/base.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename=theme) }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='main/client/src/template/grid.css') }}">
    <title>EasyPCCP</title>
</head>
<body style="overflow: hidden;">
    <form class="container" id="root_form" method="post" onsubmit="event.preventDefault();">
        {{ content | safe  }}
    </form>
    <!--
        safeとされた変数では、エスケープ処理が無くなる。
        外部から持ち込んだモジュールにより、
        不正な処理が行われる可能性がある。注意が必要
    -->
    <script>
        function sendData() {
            var xhr = new XMLHttpRequest();
            var url = "/submit";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var json = JSON.parse(xhr.responseText);
                    document.getElementById("response").innerHTML = json.message;
                }
            };
            var data = JSON.stringify({"name": document.getElementById("name").value});
            xhr.send(data);
        }
    </script>
    <script src="{{ url_for('static', filename='main/client/src/template/script.js') }}"></script>
</body>
</html>