* {
    --accent-color: #4d9bee;
    --main-color: #ffffff;
    --text-color: #000000;

    --margin: 0.2rem;
    --border-radius: 0.5rem;
}

body {
    background-color: #dedede;
    text-align: center;
}

.container {
    background-color: #c7c7c7;
}

.widget_title{
    background-color: var(--main-color);
    color: var(--accent-color);
    
    width: fit-content;
    margin-top: 0;
    /* margin: 0 auto; */
    top:calc(-1lh - var(--margin));
}

.button {
    background-color:var(--accent-color);
    border-radius: 0.2rem;
    color: var(--main-color);
}