
body {
    background-color: #dedede;
    --accent-color: #4d9bee;
    color : black;
    text-align: center;
}

.container {
    background-color: #c9c9c9;
    border-radius: 0.9rem;
    padding: 0.2rem
}

.widget {
    background-color: #ffffff;
    border-radius: 0.5rem;
    margin: 0.2rem;
}

.widget_title{
    background-color: #ffffff00;

    transform: translate(0, calc(-0.2lh - 0.4rem));
    /* background-color: #ffffff; */
    /* width: fit-content; */
    border-radius: 0.5rem;
}

.button {
    background-color:var(--accent-color);
    border-radius: 0.2rem;
    color:white;
}