
body {
    background-color: #e1e1e1;
    --accent-color: #4d9bee;
    color : black;
    text-align: center;
}

.container {
    background-color: #c7c7c7;
    border-radius: 0.9rem;
    padding: 0.2rem
}

.widget {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.2rem;
}

.accent {
    color: var(--accent-color);
}

.button {
    background-color:var(--accent-color);
    border-radius: 0.2rem;
    color:white;
}