body {
    background-color: #e1e1e1;
    --accent: #9beeff;
    color : black;
    text-align: center;
}

.widget {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.2rem;
}
.button {
    background-color:var(--accent);
    border-radius: 0.2rem;
    color: black;
}