:root {
    --accent-color: linear-gradient(180deg, #4fbeff, #9fceff);
    --main-color: #ffffff;
    --text-color: #949494;

    --margin: 0.2rem;
    --border-radius: 0.7rem;
    --button-radius: 0.5rem;
}

body {
    background: linear-gradient(180deg, #d4eeff, #c4d4ff);
    text-align: center;
}

.widget_title {
    font-size: 0.5rem !important;
    font-weight: normal;
    color: var(--text-color);
    
    top:calc(100% - 1.5rem);
}

.accent_text {
    background: var(--accent-color);
    color: transparent;
    background-clip: text;
}

.transparent {
    background: linear-gradient(180deg, #ffffff33, #ffffff11);
}

.button_icon > img {
    filter : invert(0.5) brightness(100);
}

.slider::-webkit-slider-thumb {
    --accent-color: #4eb0fc;
}