:root {
    --accent-color: rgb(174, 189, 255);
    --main-color: white;
    --text-color: #6a6a6a;

    --margin: 0.4rem;
    --border-radius: 0.8rem;

    --shadow: 0.5rem 0.5rem 0.7rem #00000010;
}

body {
    background: var(--main-color);
    text-align: center;
}

.widget {
    box-shadow: var(--shadow);
    background: linear-gradient(0deg, #ffffff, #fbfbfb);
}

.widget_title {
    font-size: 0.5rem !important;
    font-weight: normal;
    color: var(--text-color);
    opacity: 0.5;
    
    top:calc(100% - 1.5rem);
}

.accent_text {
    text-shadow: 0.2rem 0.2rem 0.3rem #00000010;
}

.transparent {
    box-shadow: inset var(--shadow);
}

.button {
    box-shadow: var(--shadow);
}
.button:active {
    box-shadow: inset 0.2rem 0.2rem 0.3rem #00000040;
}