<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>EasyPCCP-prototype</title>
</head>
<body style="overflow: hidden;">
    <div class="widgets-container">      
        <div class="widget" id="Audio">1. Audio</div>
        <div class="widget" id="Shortcuts">2.Shortcuts</div>
        <div class="widget" id="Clock">3. Clock</div>
        <div class="widget" id="Notifications">4. Notifications</div>
        <div class="widget" id="Reload">5. Reload</div>
    </div>
</body>
</html>